<%= stylesheet_link_tag "main" %>

<%= form_with model: @task do |form| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="input">
    <%= form.text_field :task_name, class: "input-field", autocomplete: 'off' %>
  </div>

  <div class="button-align">  
    <div class="buttons">
      <%= form.submit 'ADD', class: "primary-btn" %>
    </div>
    <span>|</span>    
    <div class="buttons">
      <%= link_to "RETURN", tasks_path, class: "primary-btn" %>
    </div>
  </div>
<% end %>
