<%= stylesheet_link_tag "index" %>


<div class="main">
    <%= render "layouts/navbar" %>

    <%= render "layouts/header" %>
    
    <div class="container">      
        <%= render "layouts/left_content" %>
          
        <%= render "layouts/right_content" %>                     
    </div>
</div>