<%= stylesheet_link_tag "index" %> 
<%= stylesheet_link_tag "content" %> 

<div class="main">
    <%= render "layouts/navbar" %>

    <%= render "layouts/header" %>

    <div class="container">
        <%= render "layouts/left_content" %>

        <div class="right-content">
            <div class="add_task-form">
                <p class="ask-task">What's your task today?</p>

                <%= render "form", task: @task %>
            </div>

            <div class="notice">
                <p class="notice-text" style="color:red"><%= notice %></p>  
            </div> 
        </div>
    <div>   
</div>

